#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

h1 {
  text-transform: capitalize;
  font-size: 3.2em;
  line-height: 1.1;
  color: whitesmoke;
}
p {
  text-transform: capitalize;
  color: whitesmoke;
}
div {
  text-transform: capitalize;
  width: 50%;
  color: whitesmoke;
  border: 1px solid lightslategray;
  background-color: darkmagenta;
  margin: 10px auto;
  padding: 1rem;
  text-align: center;
  max-width: 1280px;
  border-radius: 10px;
}
